<nav>
  <ul class="nav-list">
    <li><a href="/" title="Return to home page">Home</a></li>
    <li><a href="/inventory" title="Browse our vehicles">Inventory</a></li>
    <li><a href="/about" title="Learn about CSE Motors">About</a></li>
    <li><a href="/contact" title="Get in touch with us">Contact</a></li>
  </ul>
</nav>
